*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    width: 100%;
    font-family: Arial, sans-serif;
}

.container{
    width: 500px !important;
    height: 500px !important;
}

.chart-wrapper {
    display: flex;
    gap: 20px; /* space between the two charts */
}

.container {
    width: 200px;
    height: 200px;
}
