{% extends 'layout.html' %}
{% block content %}
        <div class="chart-wrapper" >
          <div class="container chart">
            <canvas id="myChart"></canvas>
        </div>
        <div class="container donut-chart">
            <canvas id="donut"></canvas>
        </div>
        <div class="container bar-chart">
            <canvas id="barChart"></canvas>
        </div>
        <div class="container pie-chart">
            <canvas id="pieChart"></canvas>
        </div>
        <div class="container pie-chart">
            <canvas id="polarAreaChart"></canvas>
        </div>
        <div class="container pie-chart">
            <canvas id="radarChart"></canvas>
        </div>
    </div>
      
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="{{ url_for('static', filename='script.js') }}"></script>

{% endblock %}